/* You can add global styles to this file, and also import other style files */

@import "theme.scss";
@import "~nouislider/distribute/nouislider.min.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');


html, body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  
  .bottom-right-corner {
    position: fixed;
    right: 40px;
    bottom: 40px;
  }

  

  .fill-remaining-space {
    // This fills the remaining space, by using flexbox. 
    // Every toolbar row uses a flexbox row layout.
    flex: 1 1 auto;
  }
  